a {
    text-decoration: none;
}

@media(max-width:990px){
    html{
        font-size: 75%;
    }
    .load-body{
        padding-top: 40%;
        padding-bottom: 40%;
    }
}

@media(max-width:720px)
{
    html{
        font-size: 55%;
    }
    /* footer{
        margin-bottom: 0;
        margin-top: auto;
    } */
    .load-body{
        padding-top: 50%;
        padding-bottom: 70%;
    }
}

@media(max-width:500px)
{
    .load-body{
        padding-top: 75%;
        padding-bottom: 75%;
    }
    
}

@media(max-width:400px)
{
    .load-body{
        padding-top: 100%;
        padding-bottom: 100%;  
    }
    
}
